p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}
body{
  margin:0;
  padding-left:96px;
  padding-top:120px;
  padding-right: 24px;
  background-color: rgb(245, 244, 244);
}
@media all and (max-width:767px)
{
  body{
    padding-left:0px;
    padding-right:0px;
  }
}
